@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';


@import 'base/variables';
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 945px;
    margin: 0 auto;
}

@import 'blocks/main';
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/privileges';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'media';
